* {
  /* For debugging only */
  /* outline: 1px solid red; */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

:root {
  

  --document-font: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-family: var(--document-font);

  --white-000: rgba(255, 255, 255, 1);
  --white-050: rgba(251, 251, 253, 1);
  --white-100: rgba(245, 245, 247, 1);
  --white-150: rgba(230, 230, 232, 1);
  --white-200: rgba(225, 225, 225, 1);
  --grey-100: rgba(210, 210, 215, 1);
  --grey-300: rgba(180, 180, 185, 1);
  --grey-300-transparent: rgba(180, 180, 185, 0.5);
  --grey-500: rgba(110, 110, 115, 1);
  --grey-700: rgba(40, 40, 42, 1);
  --grey-700-transparent: rgba(40, 40, 42, 0.5);
  --grey-800: rgba(29, 29, 31, 1);
  --blue-500: rgba(26, 188, 250, 1);
  --blue-700: rgba(28, 125, 243, 1);
  --blue-800: rgba(0, 102, 204, 1);
  --blue-950: rgba(7, 7, 14, 1);
  --blue-gradient: linear-gradient(160deg, var(--blue-700) 0%, var(--blue-500) 100%);;
  --green-400: rgba(164, 222, 41, 1);
  --green-500: rgba(142, 198, 24, 1);
  --green-600: rgba(130, 184, 15, 1);
  --red-600: rgba(212, 89, 81, 1);

  /* Text-size styles */
  /* base size: body (19px) */
  --heading-1: 3.79rem;
  --heading-2: 3.16rem;
  --heading-3: 2.53rem;
  --heading-4: 1.89rem;
  --heading-5: 1.47rem;
  --heading-6: 1.11rem;
  --body: 1rem;
  font-size: 19px;

  /* Document styles */
  --background: var(--white-100);
  color: var(--grey-700);
  background-color: var(--background);

  /* Size Variables */
  --navbar-height: 80px;
  --table-row-height: 85px;
  --table-spacing: 30px;
}

body{
  margin: 0;
}

/* Heading */
h1, h2, h3, h4 {
  font-weight: 600;
  margin: 0;
}
h1 {
  font-size: var(--heading-2);
  text-shadow: 
    2px 2px var(--background),
    -2px 2px var(--background);
  transform: translateY(13px);
}
h2 {
  font-size: var(--heading-4);
}
h3 {
  font-size: var(--heading-5);
}
h4 {
  font-size: var(--heading-6);
}
p {
  margin: 0;
}


/* Navbar */
.navbar {
  border: 1px solid var(--grey-300);
  border-width: 0 0 1px 0;
  height: var(--navbar-height);
  position: fixed;
  left:0;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: var(--background);
}
.navbar__heading {
  font-size: 60px;
  margin: 0;
  transform: translateY(23px);
}
.navbar__heading>a {
  color: var(--grey-700) !important;
  font-weight: 600;
}

/* Links */
a {
  text-decoration: none;
  color: var(--blue-700);
  font-weight: 500;
}
button {
  border: 0;
  font-family: var(--document-font);
}

/* Both Pages */
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  padding: 0 1rem;
}
.container--no-padding {
  padding: 0;
}

/* Upload Page */
.upload__hero {
  display: flex;
  flex-grow: 2;
  align-items: center;
  padding-top: var(--navbar-height);
  text-align: center;
}
.upload__button {
  background: var(--blue-gradient);
  color: var(--background);
}
.upload__group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}
.upload__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.16rem;
  width: 16.84rem;
  padding: 0 0.74rem;
  margin-bottom: 1rem;
  border: 0;
  border-radius: 1.58rem;
}
.upload__button:hover {
  cursor: pointer;
  outline: 1px solid var(--blue-500);
}
.upload__button-plus {
  font-size: 2.63rem;
  font-weight: 200;
  flex-grow: 0;
  transform: translateY(-0.21rem);
}
.upload__button-text-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  transform: translateY(0rem);
  font-size: 1rem;
  font-weight: 500;
}
.upload__file-error-msg {
  text-align: center;
  min-height: 2rem;
}
.upload__file-description {
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
}


/* Results Page */
.table-wrapper {
  margin-top: calc( 2 * var(--navbar-height) - (var(--table-spacing)) );
  width: 100%;
  position: relative;
  overflow-x: scroll;
}
.table {
  border-collapse: separate;
  border-spacing: 0 30px;
  width: 100%;
  text-align: center;
}
/* Table Head */
.table__head {
  font-size: 1.47rem;
  height: calc(var(--table-row-height) - 1rem);
  border-top: 0.5rem solid var(--white-150);
  border-bottom: 0.5rem solid var(--white-150);
  background-color: var(--white-150);
  font-weight: 300;
}
.table__head > tr > td, .player {
  border-right: 1px solid var(--grey-300);
}
.table__head > tr > td, .player, .score {
  height: var(--table-row-height);
  padding: 0 1rem;
}
.table__head > tr > td:last-child {
  border-right: none;
}

/* Table Rows */
.table-rows {
  min-height: var(--table-row-height);
}
.player, .score {
  display: flex;
  align-items: center;
}
.player {
  text-align: left;
  padding-left: 0;
}
.score {
  justify-content: center;
}
.table-row__frames {  
  width: 806px;
}
.table-row__frames-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: var(--table-row-height);
  max-width: fit-content;
}
.table-row__frame {
  display: grid;
  grid-template-areas: 
    "roll-1 roll-2"
    "frame-result";
  grid-template-columns: auto;
  grid-template-rows: 32px auto;
  gap: 0;
  width: 77px;
  height: 100%;
  border-left: 1px solid var(--grey-300);
  padding: 0 4px;
}
.table-row__frame--last {
  width: 113px;
}
.table-row__frame > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--grey-500);
}
.roll {  
  position: relative;
  background-color: var(--white-150);
  width: 32px;
  height: 32px;
  padding: 3px;
  text-align: center;
}
.frame__result {
  text-align: center;
  font-size: 28px;
  transform: translateY(6px);
}
tr:hover {
  box-shadow:  0 0 5px var(--grey-300);
}

/* Footer */
.results__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--table-row-height);
  background-color: var(--white-150);
}

/* Errors and  messages */
.error {
  color: var(--red-600);
}
.upload-page__file-error-msg {
  min-height: 2rem;
}

/* Special roll indicators */
.strike {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--grey-300-transparent);
  mix-blend-mode: multiply;
}
.spare {
  position: absolute;
  bottom: 0;
  left:0;
  width: 0; 
  height: 0; 
  border-left: 16px solid transparent;
  border-right: 16px solid var(--grey-300-transparent);
  border-top: 16px solid transparent;  
  border-bottom: 16px solid var(--grey-300-transparent);
  mix-blend-mode: multiply;
}

.container {
  width: 100%;
  margin: 0 auto;
}
/* Media queries */
@media (max-width: 640px) {
  :root{
    font-size: 14px;
  }
  .container {
    max-width: 640px;
  }
}
@media (min-width: 640px) {
  :root{
    font-size: 14px;
  }
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  :root{
    font-size: 16px;
  }
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  :root{
    font-size: 18px;
  }
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  :root{
    font-size: 19px;
  }
  .container {
    max-width: 1280px;
  }
}